.kinola-film-filter {
  width: 200px;
}

.kinola-venue-filter {
  width: 200px;
}

.kinola-date-filter {
  width: 180px;
}

.kinola-time-filter {
  width: 130px;
}

.kinola-filters .select2-container .select2-selection--single {
  height: 32px;
}

.kinola-filter-button {
  padding: 6px 20px;
}

.kinola-film-gallery img {
  max-width: 100%;
}

 .kinola-film-screening {
   padding: 10px 20px; 
   border: 1px solid #ccc;
 }
