@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Syncopate";
  src: url("../fonts/Syncopate-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Syncopate";
  src: url("../fonts/Syncopate-Bold.ttf");
  font-weight: 700;
}

body {
  @apply font-sans text-base;
}
h1, h2 {
  @apply font-heading;
}
h1 {
  @apply text-6xl !m-0 !font-bold uppercase text-center tracking-wide;
}
h2 {
  @apply text-2xl mb-4 uppercase font-bold;
}
h3 {
  @apply text-2xl mb-4;
}
iframe {
  @apply w-full h-auto max-w-full aspect-video;
}
